body{
    background-color: #2C2C2C;
}
.filterList{
    width: 90%;
    height: 50px;
    margin: 100px auto 100px auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > button + button{
        margin-left: 50px;
    }
}
.cardsList{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * + * {
        margin-left: 100px;
    }
}